<h1>Axel Antonio López Loza </h1>
<p>Find me in app/views/pages/x.html.erb</p>
<form action="<%= pages_save_form_path %>" method="POST">

    <input name="q">
    <input name="l">
    <input name="m">
    <input type="submit" value="Enviar">

  </form>
